.member {
    background: url('../img/sprite.png') no-repeat left top;
    display: block;
    width: 200px;
    height: 200px;
    float: left;
    margin: 0;
    padding: 0;
}

.member.center-center {
    background-position: -200px -200px;
}

.member.center-left {
    background-position: 0 -200px;
}

.member.center-right {
    background-position: -400px -200px;
}

.member.top-center {
    background-position: -200px 0;
}

.member.top-left {
    background-position: 0 0;
}

.member.top-right {
    background-position: -400px 0;
}

.member.bottom-center {
    background-position: -200px -400px;
}

.member.bottom-left {
    background-position: 0 -400px;
}

.member.bottom-right {
    background-position: -400px -400px;
}
